.page4.wrapper.slide-light
    .container
        .icon-hand-to-left-gray
        .row.row__1x
            .title-medium.title-medium-black-5(
            data-swiper-parallax="-800"
            )
        .row.row__3x.longSlider
            img.longSlider__decoration(src="./img/objects/longSlider-decoration.png")
            .longSlider__container.swiper-no-swiping
                .longSlider__item
                    .longSlider__photo
                        img(src="./img/photos/longSlider__1.png")
                    .link(
                data-swiper-parallax="-150"
                )
                        .text_dark-new .01
                        .subtitle-new Светодиоды
                        .text Красные светодиоды помогают выращивать растения в космосе и лечить людей на Земле. Светодиодная технология способствовала развитию медицинских устройств, предназначенных для временного облегчения мышечных и суставных болей.
                .longSlider__item
                    .longSlider__photo
                        img(src="./img/photos/longSlider__1.png")
                    .link(
                data-swiper-parallax="-150"
                )
                        .text_dark-new .02
                        .subtitle-new Инфракрасные ушные термометры
                        .text Технологическая корпорация Diatek и NASA разработали инфракрасный термометр, который вставляется в ухо. Этот метод позволяет избежать контакта со слизистыми оболочками, практически исключая возможность перекрестной инфекции и позволяет быстро измерять температуру у новорожденных и тяжелобольных людей.
                .longSlider__item
                    .longSlider__photo
                        img(src="./img/photos/longSlider__1.png")
                    .link(
                data-swiper-parallax="-150"
                )
                        .text_dark-new.03
                        .subtitle-new Невесомость и реабилитация
                        .text Наблюдения за физическим состоянием человека в невесомости позволили создать коррекционные костюмы для реабилитации детей с церебральным параличом.
                .longSlider__item
                    .longSlider__photo
                        img(src="./img/photos/longSlider__1.png")
                    .link(
                data-swiper-parallax="-150"
                )
                        .text_dark-new .04
                        .subtitle-new Модели ракетных двигателей и пересадка сердца
                        .text Принцип действия главных топливных насосов «Шаттла» используется в устройстве, которое помогает людям, нуждающимся в пересадке сердца, дождаться донорского органа.
                .longSlider__item
                    .longSlider__photo
                        img(src="./img/photos/longSlider__1.png")
                    .link(
                data-swiper-parallax="-150"
                )
                        .text_dark-new .05
                        .subtitle-new Протезирование
                        .text Космические технологии дают возможность находить новые решения для создания более функциональных динамических протезов.
                .longSlider__item
                    .longSlider__photo
                        img(src="./img/photos/longSlider__1.png")
                    .link(
                data-swiper-parallax="-150"
                )
                        .text_dark-new .06
                        .subtitle-new Прозрачные зубные скобы
                        .text Прозрачные брекеты — более эстетичные, чем их металлические предшественники — делают из поликристаллического оксида алюминия. Этот же материал защищает инфракрасные антенны станций сопровождения боевых ракет.
                .longSlider__item
                    .longSlider__photo
                        img(src="./img/photos/longSlider__1.png")
                    .link(
                data-swiper-parallax="-150"
                )
                        .text_dark-new .07
                        .subtitle-new Космическая система очистки воды и небьющиеся очки
                        .text Работая над системами очистки воды, специалисты NASA научились наносить на пластиковые поверхности защитное покрытие из тонкой пластиковой пленки. Сначала разработку применяли при изготовлении космических шлемов, затем стали использовать в оптике.


    .bg-crosses( data-swiper-parallax="-350" )
    .bg-lines