.swap-touch-select
.page1.wrapper
    .container
        .column.column__4x


            .title(
            data-swiper-parallax="-700"
            ) Транспорт


            .subtitle(
                data-swiper-parallax="-700"
            ) Марсианские шины

            .text(
                data-swiper-parallax="-350"
            ) В конце 1960-х годов специалисты Goodyear участвовали в подготовке техники для исследовательской миссии к Марсу: они создали шины из особо прочного материала для аппаратов «Викинг-1» и «Викинг-2». Впоследствие эту разработку стали использовать при производстве автомобильных шин.

            .page1__photo(
                data-swiper-parallax="-500"
            )

        .hand__block
    .bg-crosses(
        data-swiper-parallax="-350"
    )
    .bg-lines